<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-laravel">
            <div class="container">
                <router-link class="navbar-brand" :to="{ name: 'dashboard' }">회원관리</router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Authentication Links -->
                        <li class="nav-item" v-if="!$auth.check()">
                            <router-link class="nav-link" :to="{ name: 'login' }">로그인</router-link>
                        </li>
                        <li class="nav-item" v-if="!$auth.check()">
                            <router-link class="nav-link" :to="{ name: 'register' }">회원가입</router-link>
                        </li>
                        <li class="nav-item dropdown" v-if="$auth.check()">
                            <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ $auth.user().name }} <span class="caret"></span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#" @click.prevent="logout">로그아웃</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="py-4">
            <div class="container">
                <router-view></router-view>
            </div>
        </main>
    </div>
</template>

<script>
    export default {
        name: "App",

        data() {
            return {
                //
            }
        },

        methods: {
            // 로그아웃
            logout() {
                this.$auth.logout({
                    redirect: '/login'
                })
            }
        }
    }
</script>

<style scoped>

</style>