<template>
    <div>
        <h1>Dashboard</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">이름</th>
                    <th scope="col">가입시각</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(member, index) in members">
                    <th scope="row">{{ index + 1 }}</th>
                    <td>{{ member.email }}</td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.updated_at }}</td>
                    <td>
                        <router-link v-bind:to="/user/ + member.id" tag="button" class="btn btn-primary">수정</router-link>
                        <button class="btn btn-danger" @click="destroy(member.id)">삭제</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <v-dialog/>
    </div>
</template>

<script>
    export default {
        name: "Dashboard",

        data() {
            return {
                members: []
            }
        },

        methods: {
            // Read
            read() {
                window.axios.get('/users').then(({ data }) => {
                    data.forEach(member => {
                        this.members.push(member);
                    });
                });
            },
            // Delete
            destroy(id) {
                if (confirm('사용자를 삭제하시겠습니까?')) {
                    window.axios.delete('/users/' + id).then(({ data }) => {
                        window.location = '/';
                    });
                }
            }
        },

        created() {
            this.read();
        }
    }
</script>

<style scoped>

</style>