<template>
    <div>
        <div class="alert alert-danger pb-0" v-if="error">
            <p>로그인에 실패하였습니다.</p>
        </div>
        <form autocomplete="off" @submit.prevent="login" method="post">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" class="form-control" placeholder="아이디@example.com" v-model="email" required>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" class="form-control" v-model="password" required>
            </div>
            <button type="submit" class="btn btn-default">로그인</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: "Login",

        data() {
            return {
                email: null,
                password: null,
                error: false
            }
        },

        methods: {
            // 로그인
            login() {
                this.$auth.login({
                    params: {
                        email: this.email,
                        password: this.password
                    },
                    success: function () {
                        //
                    },
                    error: function () {
                        this.error = true;
                    },
                    rememberMe: true,
                    redirect: '/',
                    fetchUser: true,
                });
            }
        }
    }
</script>

<style scoped>

</style>