<template>
    <div>
        <div class="alert alert-danger pb-0" v-if="error && !success">
            <p>회원가입에 실패하였습니다.</p>
        </div>
        <div class="alert alert-success pb-0" v-if="success">
            <p>회원가입을 완료하였습니다. <router-link :to="{name:'login'}">로그인 화면</router-link>에서 로그인 할 수 있습니다.</p>
        </div>
        <form autocomplete="off" @submit.prevent="register" v-if="!success" method="post">
            <div class="form-group" v-bind:class="{ 'has-error': error && errors.name }">
                <label for="name">이름</label>
                <input type="text" id="name" class="form-control" v-model="name" required>
                <span class="help-block" v-if="error && errors.name">{{ errors.name }}</span>
            </div>
            <div class="form-group" v-bind:class="{ 'has-error': error && errors.email }">
                <label for="email">E-mail</label>
                <input type="email" id="email" class="form-control" placeholder="아이디@example.com" v-model="email" required>
                <span class="help-block" v-if="error && errors.email">{{ errors.email }}</span>
            </div>
            <div class="form-group" v-bind:class="{ 'has-error': error && errors.password }">
                <label for="password">비밀번호</label>
                <input type="password" id="password" class="form-control" v-model="password" required>
                <span class="help-block" v-if="error && errors.password">{{ errors.password }}</span>
            </div>
            <button type="submit" class="btn btn-default">확인</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: "Register",

        data() {
            return {
                name: '',
                email: '',
                password: '',
                error: false,
                errors: {},
                success: false
            };
        },

        methods: {
            // 회원가입
            register() {
                this.$auth.register({
                    data: {
                        name: this.name,
                        email: this.email,
                        password: this.password
                    },
                    success: function () {
                        this.success = true
                    },
                    error: function (response) {
                        this.error = true;
                        this.errors = response.response.data.errors;
                    },
                    redirect: null
                });
            }
        }
    }
</script>

<style scoped>

</style>