<template>
    <div>
        <h1>회원정보 수정</h1>
        <div class="alert alert-danger pb-0" v-if="error && !success">
            <p>회원정보 수정에 실패하였습니다.</p>
        </div>
        <form autocomplete="off" @submit.prevent="update" v-if="!success" method="post">
            <div class="form-group" v-bind:class="{ 'has-error': error && errors.name }">
                <label for="name">이름</label>
                <input type="text" id="name" class="form-control" v-model="member.name" required>
                <span class="help-block" v-if="error && errors.name">{{ errors.name }}</span>
            </div>
            <div class="form-group" v-bind:class="{ 'has-error': error && errors.email }">
                <label for="email">E-mail</label>
                <input type="email" id="email" class="form-control" placeholder="아이디@example.com" v-model="member.email" required>
                <span class="help-block" v-if="error && errors.email">{{ errors.email }}</span>
            </div>
            <div class="form-group" v-bind:class="{ 'has-error': error && errors.password }">
                <label for="password">비밀번호</label>
                <input type="password" id="password" class="form-control" v-model="member.password" required>
                <span class="help-block" v-if="error && errors.password">{{ errors.password }}</span>
            </div>
            <button type="submit" class="btn btn-primary">확인</button>
            <router-link to="/" tag="button" class="btn btn-secondary">뒤로</router-link>
        </form>
    </div>
</template>

<script>
    export default {
        name: "UserEdit",

        data() {
            return {
                member: {
                    name: '',
                    email: '',
                    password: ''
                },
                error: false,
                errors: {},
                success: false
            }
        },

        methods: {
            // Read
            read() {
                window.axios.get('/users/' + this.$route.params.id).then(({ data }) => {
                    this.member.name = data.name,
                    this.member.email = data.email
                });
            },
            // Update
            update() {
                window.axios.post('/users/' + this.$route.params.id, {
                    name: this.member.name,
                    email: this.member.email,
                    password: this.member.password
                }).then(function (response) {
                    if (response.data.status === 'success') {
                        window.location = '/';
                    } else {
                        this.error = true;
                    }
                });
            }
        },

        created() {
            this.read();
        }
    }
</script>

<style scoped>

</style>